[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/project-lion/gunicorn
ExecStart=/home/ubuntu/project-lion/venv_django/bin/gunicorn \
    --access-logfile gunicorn/gunicorn-access.log \
    --error-logfile gunicorn/gunicorn-error.log \
    --workers 3 \
    --bind unix:/home/ubuntu/project-lion/gunicorn/django.sock \
    project.wsgi:application

[Install]
WantedBy=multi-user.target